<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand col-4 text-center" href="#">CONTACTEZ-MOI IMMO</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse col-8" id="navbarColor02">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('admin') }}">Tableau de bord
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Gestion des utilisateurs</a>
				</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home') }}">Paramétrage</a>
					</li>
					<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </i>
			</ul>
		</div>
	</div>
</nav>
