{# {% extends 'base.html.twig' %} #}
<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">

{% block title %}{% endblock %}

{% block body %}
    <legend class="my-5">Réinitialisez votre mot de passe</legend>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialisez votre mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
