{% extends 'adminBO/base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1>TABLEAU DE BORD</h1>
    <hr>

    <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col"><img  src="{{ asset('assets/admin/images/users.png') }}" class="rounded-circle" width="155" /></th>
                                            <th scope="col"><img  src="{{ asset('assets/admin/images/acheteur.jpg') }}" class="rounded-circle" width="160" /></th>
                                            <th scope="col"><img  src="{{ asset('assets/admin/images/vendeur.jpg') }}" class="rounded-circle" width="150" height="150" /></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                     <tr>
                                            <td class="h5"> Utilisateurs : 
                                            {% for count in countUser %} {{ count.total }}</td>{% endfor %}
                                            <td class="h5"> Demandes : 11</td>
                                            <td class="h5"> Offres : 5</td>
                                            
                                        </tr>

                                            

                                    </tbody>
                                </table>

    
</div>
{% endblock %}
