{% extends 'acheteur/base.html.twig' %}

{% block title %}Hello AcheteurController!{% endblock %}
{% block stylesheets %}
<style>
.wrapper {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        
        }
main    {
        grid-column: 4 / 12;
        grid-row: 1 / 8;
        background-color: beige;
        
        }
nav     {
        grid-column: 1/4;
        grid-row: 1 / 8;
        border:1px solid gray;
        box-shadow: -1em lightgray;
        
        }
.list-item{
        padding-top: 20%;
        padding-bottom: 20%;
        list-style: none;
        }
a       {
        color:white;
        text-decoration:none;
        }
      
</style>
{% endblock %}
{% block body %}


<div class="container wrapper">
<nav class="navbar navbar-expand-sm navbar-primary bg-primary">
<ul class="group-item">
    <legend text-center>Menu</legend>
    <li class="list-item "><a  href="">Mon profil</a></li>
    <li class="list-item "><a  href="">Gérer mon compte</a></li>
    <li class="list-item "><a  href="">Déposer une demandes</a></li>
    <li class="list-item "><a  href="">Gérer mes demandes</a></li>
    <li class="list-item "><a  href="">Quitter</a></li>

</ul>
</nav>
<main>
<legend>test test test test test</legend>
</main>
</div>
{% endblock %}
