{% extends 'vendeurBO/base.html.twig' %}

{% block title %} CONTACTEZ-MOI IMMO OFFRES {% endblock %}
{% block stylesheets %}
<style>
.hidden{
	display:none;
}
</style>
{% endblock %}
{% block titre %}MON ESPACE VENDEUR{% endblock %}
{% block body %}
	<main>
        <div class="container">
            <div class="h4">
                Mettre à jour mes images
            </div>
            <hr>
            <div class="container">
                
                <div class="row">
                    {% for image in images.offre.image %}
                    <div class="card" style="width: 18rem;height: auto">                          
                        <div class="">
                            <a href="{{ path('vendeur_offres_edit_image', {id: image.id}) }}"><img src="{{ asset('assets/images/offres/' ~ image.urlImage ) }}" width="100%" alt=""/></a>
                        </div>
                    </div>
                    {% endfor %}					
                </div>
                
            </div>
        </div>
	</main>
{% endblock %}